.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
.input{
    width: 500px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: -180px;
    font-family: inherit; 
}

.boton{
    width: 150px;
    height: 46px;
    margin-left: 500px;
    margin-top: -56px;
    padding: 10px 20px;
    background-color: #6599ff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit; 
  }

  .token-button:hover {
      background-color: #537ccc;
  }
  
  .token-button:active {
      background-color: #4b70b9;
  }
  